<div id="backdrop"></div>
<form [formGroup]="newAccountForm" (ngSubmit)="onSubmit()">
  <div id="modal">
    <h2>New Account</h2>
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" autocomplete="off" formControlName="name" />
    </div>
    <div>
      <label for="currency">Currency: </label>
      <select id="currency" autocomplete="off" formControlName="currency">
        @for (currency of currencies; track $index) {
        <option [value]="currency">{{currency.toUpperCase()}}</option>
        }
      </select>
    </div>
    <div>
      <label for="amount">Balance: </label>
      <input type="number" id="amount" autocomplete="off" min="0" formControlName="amount" />
    </div>
    <div id="newAccountButtons">
      <button (click)="handleClose()">Cancel</button>
      <button id="createAccount">Create Account</button>
    </div>
  </div>
</form>
<div id="error">error</div>