/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  &::-webkit-scrollbar {
    background-color: black;
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: black;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gold;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 0px;
    width: 0px;
  }

  &::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 0px;
    width: 0px;
  }
}

.widthContainer {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  min-height: 100%;
  margin: auto;
}