.account {
  display: flex;
  justify-content: space-between;
}

.accountSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

#right {
  align-items: end;
}

.lower {
  font-size: 0.8em;
  opacity: 0.7;
}