<header>
  <div class="widthContainer" id="headerContainer">
    <h1>My Budget</h1>
    <nav>
      <ul>
        <li>
          <a routerLink="/accounts" routerLinkActive="active">Accounts</a>
        </li>
        <li>
          <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>