<div class="widthContainer">
  <div id="settingsContainer">
    <div class="section">
      <span>Default currency</span>
      <select id="currency" autocomplete="off" (change)="onChange($event.target)">
        @for (currency of currencies; track $index) {
        @if (currency === defaultCurrency) {
        <option [value]="currency" selected>{{ currency.toUpperCase() }}</option>
        }
        @else {
        <option [value]="currency">{{ currency.toUpperCase() }}</option>
        }
        }
      </select>
    </div>
    <div id="delete" class="section">
      <button (click)="showDeleteButton()" id="deleteButton">Delete all data</button>
      <button (click)="handleDelete()" id="confirm" [class.show]="deleteButtonVisibility">Are you sure</button>
      <span id="serverResponse" [class.message]="deleteResponseVisibility">{{deleteResponseText}}</span>
    </div>
    <div class="section">
      <span>Exchange rate updated</span>
      <span>{{exchangeRatesDate}}</span>
    </div>
  </div>
</div>
<footer>Copyright "The Client" 2024</footer>