#settingsContainer {
  padding: 20px;
  width: 100%;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  height: 60px;

  &:last-child {
    border-bottom: none;
  }
}

select {
  border: none;
  background-color: inherit;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 10px;
  left: auto;
  font-size: 0.8em;
}