<div class="widthContainer" id="accounts">
  @if (accounts.length) {
  <div id="accountsList">
    @for (account of accounts; track account.id) {
    <div class="accountContainer">
      <app-account [account]="account" [balance]="account.balance"></app-account>
    </div>
    }
  </div>
  <button (click)="openModal()">New account</button>
  }
</div>
<app-new-transaction [resetTransactions]="" [resetAccounts]="resetAccounts"></app-new-transaction>
@if (showAccountModal) {
<app-new-account-modal (closeClicked)="closeModal()" [resetAccounts]="resetAccounts"></app-new-account-modal>
}